@if (config$ | async; as config) {
  <header class="d-flex flex-wrap justify-content-end p-3 bg-body-secondary">
    <ul class="nav nav-pills">
      @if (config.LINK_DOCS) {
        <li class="nav-item">
          <a [href]="config.LINK_DOCS" class="nav-link link-body-emphasis text-muted fw-semibold">
            {{ 'HEADER.DOCUMENTATION' | translate }}
          </a>
        </li>
      }
      <li class="nav-item">
        <lmdev-theme-switcher></lmdev-theme-switcher>
      </li>
    </ul>
  </header>
}
