<nav class="d-flex flex-column pb-2 pe-3 w-100 overflow-hidden position-relative">
  @for (item of mainItems; track item.title; let i = $index) {
    @if (item.title) {
      <b class="px-3 py-1 mb-2 fs-7 text-secondary text-opacity-50 text-uppercase" [class.mt-4]="i !== 0"> {{ item.title | translate }} </b>
    }
    <ul class="nav flex-column" [class.mb-auto]="i === mainItems.length - 1">
      @for (navIitem of item.items; track navIitem.name) {
        <li class="nav-item">
          <a
            [routerLink]="[navIitem.url]"
            routerLinkActive="active"
            class="nav-link text-secondary rounded-2"
            aria-current="page"
            [class.text-opacity-50]="!navIitem.active"
          >
            <i class="pe-none fs-6 fw-light me-3" [class]="navIitem.icon"></i>
            <span class="fs-6"> {{ navIitem.name }} </span>
          </a>
        </li>
      }
    </ul>
  }
</nav>
