:host {
  display: flex;
  padding: 0;
  width: 250px;
  position: relative;
  i {
    width: 16px;
    height: 16px;
  }
  .active {
    color: rgba(var(--bs-primary-rgb), 1) !important;
    background-color: rgba(var(--bs-primary-rgb), 0.1) !important;
    background-color: rgba(var(--bs-secondary-bg-rgb), 0.5) !important;
    font-weight: 700;
  }
  .logo {
    height: 30px;
    object-fit: contain;
  }
}
