<!-- <div class="card-header">
    <h2>Home</h2>
  </div>
  <div class="card-body">
    <p>Logged in</p>
  </div> -->
<!-- <h1 class="mb-4">Dashboard</h1> -->

<div class="row row-cols-xxl-4 row-cols-lg-2 row-cols-sm-1 row-cols-1">
  <div class="col mb-4">
    <div class="card p-4 d-flex align-items-center flex-row">
      <div class="icon ti ti-trending-up"></div>
      <div>
        <h1 class="fw-bold mb-0">2911</h1>
        <small class="text-body-tertiary"> Active users </small>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card p-4 d-flex align-items-center flex-row">
      <div class="icon ti ti-trending-up"></div>
      <div>
        <h1 class="fw-bold mb-0">2911</h1>
        <small class="text-body-tertiary"> Active users </small>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card p-4 d-flex align-items-center flex-row">
      <div class="icon ti ti-trending-up"></div>
      <div>
        <h1 class="fw-bold mb-0">2911</h1>
        <small class="text-body-tertiary"> Active users </small>
      </div>
    </div>
  </div>
  <div class="col mb-4">
    <div class="card p-4 d-flex align-items-center flex-row">
      <div class="icon ti ti-trending-up"></div>
      <div>
        <h1 class="fw-bold mb-0">2911</h1>
        <small class="text-body-tertiary"> Active users </small>
      </div>
    </div>
  </div>
</div>

<div class="card">
  <!-- <div class="card-body" style="height: 1650px"> -->
  <div class="table-responsive small">
    <div class="card-header">
      <h2>Section title</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
          <th scope="col">Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1,001</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
        </tr>
        <tr>
          <td>1,002</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>data</td>
          <td>rich</td>
          <td>dashboard</td>
          <td>tabular</td>
        </tr>
        <tr>
          <td>1,003</td>
          <td>information</td>
          <td>placeholder</td>
          <td>illustrative</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,004</td>
          <td>text</td>
          <td>random</td>
          <td>layout</td>
          <td>dashboard</td>
        </tr>
        <tr>
          <td>1,005</td>
          <td>dashboard</td>
          <td>irrelevant</td>
          <td>text</td>
          <td>placeholder</td>
        </tr>
        <tr>
          <td>1,006</td>
          <td>dashboard</td>
          <td>illustrative</td>
          <td>rich</td>
          <td>data</td>
        </tr>
        <tr>
          <td>1,007</td>
          <td>placeholder</td>
          <td>tabular</td>
          <td>information</td>
          <td>irrelevant</td>
        </tr>
        <tr>
          <td>1,008</td>
          <td>random</td>
          <td>data</td>
          <td>placeholder</td>
          <td>text</td>
        </tr>
        <tr>
          <td>1,009</td>
          <td>placeholder</td>
          <td>irrelevant</td>
          <td>visual</td>
          <td>layout</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- </div> -->
</div>
